{{ define "main" }}
	<ul id="og-grid" class="og-grid">
		{{ range $.Site.Data.grid_entries.entry }}
			<li>
				<a 
					href="" 
					data-largesrc="{{ .image }}"
					data-title="{{ .title }}"
					data-tooling="Tooling: {{ .tooling }}"
					data-demo="{{ .demo }}"
					data-watch="{{ .watch }}"
					data-description="{{ .description }}"
					data-features="Features: {{ .features }}"
					data-source="{{ .source}}"
					data-devlog="{{ .devlog}}">
					<img class="d-none d-sm-block" src="{{ .thumb }}" alt="{{ .alt }}">
					<img class="d-block d-sm-none" src="{{ .image }}" alt="{{ .alt }}">
				</a>
			</li>
		{{ end }}
	</ul>
{{ end }}
